*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
    background-size: auto;
    /* border: 1px solid #ff80ff; */
    height: 80px;
    width: 100%;
    text-align:center;
    padding: 15px;

}
.header_name{
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 80px;
    width: 50%;
    float: right;
}
.mainlogin{
    height: 550px;
    background: aqua;
    text-align: center;
    vertical-align: bottom;
}
.menu{
    height: 50px;
    background: #0d00fc;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    width: 60%;
    font-size: 1.5vw;
}
ul.list_menu li {
    float: left;
}
ul.list_menu li:hover {
    background: burlywood;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #f2ff33;
    line-height: 51px;
    padding:0 10px;
    display:block;
}
.main{
    border: 1px solid #00ff80;
    height: 500px;
    width: 100%;
}
.sidebar{
    border: 1px solid #00ff80;
    height: 500px;
    width: 20%;
    background: #0d00fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin-left: 5px;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    font-size: 2vw;
}
ul.list_sidebar li:hover {
    background: rgb(164, 238, 207);
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #f2ff33;
    display: block;
    padding: 10px 27px;
}
.maincontent {
    border: 1px solid #00ff80;
    height: 490px;
    width: 79%;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    text-align: center;
}

.maincontent .text_heading_maincontent{
    padding: 50px 0 25px 0;
}

.sub_main_content{
    margin-top: 10px;
}
.dtvt{
    display: none;
}
.ck{
    display: none;
}
.h{
    display: none;
}
.qlda{
    display: none;
}
.d{
    display: none;
}
.footer{
    border: 1px solid #ff1a8c;
    height: 100px;
    width: 100%;
    background: #0d00fc;
    text-align: center;
}
.clear{
    clear: both;
}